.block{
    position: fixed;
    background-color: #17a843;
    width: 100%;
    border-bottom: 1em;
    border-color: 3px solid gray;
}

img{
    background-color: #17a843;
    width: 10%;
    display:block;
    margin: auto;
}