.form-group{
  position: absolute;
  top: 40%;
  left: 20%;
  width: 55%;
  display: inline;
  padding: 1.1%;
}

#box{
  outline:none;
  width: 100%;
  height: 0;
  padding: 3.1%;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border-radius: 20px;
  border: none;
  opacity: 1;
}

#btn{
  outline:none;
  width: 6%;
  height: 60%;
  position: absolute;
  top: 20%;
  left: 100%; 
  background:  #17a843 0% 0% no-repeat padding-box;
  border-radius: 18px;
  border: none;
}

#region{
  background: rgba(255, 255, 255, 0);
  position: absolute;
  color: #000000;
  top: 30%;
  left: 87%;
  height: 40%;
  width: 8%;
  border: none;
  outline: none;
  font-weight: bolder;
  text-align-last: center; 
}

.arrow {
  width: 60%;
}

#oval3 {
  top: 70%;
  left: 30%;
  width: 100%;
  height: 90%;
  transform: matrix(0.99, -0.16, 0.16, 0.99, 0, 0);
  background-color: #52E87F;
  position: absolute;
}
  #oval4 {
  top: 80%;
  left: -15%;
  width: 35%;
  height: 70%;
  transform: matrix(-0.71, 0.71, -0.71, -0.71, 0, 0);
  background-color: #52E87F;
  position: absolute;
}

